<h1>
  Welkom bij {{ getName() }}'s filmpagina!
</h1>

<!--https://css-tricks.com/responsive-data-tables/-->


<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bewaar</th>
        <th></th>
        <th>Titel</th>
        <th>Beschrijving</th>
        <th>Vandaag te zien</th>
        <th>Favouriet</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let movie of getMovies() ">
        <td>
          <input type="checkbox" [(ngModel)]="movie.favorite" />
        </td>
        <td>
          <img [src]="movie.movieDetails.poster" class="poster">
        </td>
        <td>
          <span> {{ movie.title }} </span>
        </td>
        <td>
          <span> {{ movie.movieDetails.plot }} </span>
        </td>
        <td>
          <span>nope</span>
        </td>
        <td>
          <span [ngSwitch]="movie.favorite">
            <span *ngSwitchCase="true"><span class="badge"><span class="glyphicon glyphicon-ok"></span></span></span>
            <span *ngSwitchDefault></span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br />
<br />

<div class="container-fluid">
  <ul class="list-group-striped">
    <li *ngFor=" let movie of getMovies() " class="list-group-item">
      <h4 class="list-group-item-heading">
        <input type="checkbox" [(ngModel)]="movie.favorite" />
        <span> {{ movie.title }} </span>
        <span [ngSwitch]="movie.favorite">
          <span *ngSwitchCase="true"><span class="badge"><span class="glyphicon glyphicon-ok"></span></span></span>
          <span *ngSwitchDefault></span>
        </span>
      </h4>
      <div class="list-group-item-text">
        <span> {{ movie.movieDetails.plot }} </span>
      </div>
    </li>
  </ul>
</div>