<!--nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header navbar-left">
      <form id="loginForm" method="post" class="navbar-form">
        <fieldset>
          <div class="form-group">
            <input id="username" type="text" placeholder="gebruikersnaam" class="form-control">
          </div>
          <div class="form-group">
            <input id="password" type="password" placeholder="wachtwoord" class="form-control">
          </div>
          <button id="login" type="submit" class="btn btn-success"><span id="loginLabel">Login</span></button>
        </fieldset>
      </form>
    </div>
    <div class="navbar-header navbar-right">
      <form class="navbar-form">
        <button type="submit" class="btn btn-success">
          <span>Ververs films</span>
        </button>
      </form>
    </div>
  </div>
</nav-->
<!-- https://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap change default BS colors -->

<nav class="navbar navbar-default navbar-static-top" role="navigation">


  <div class="container-fluid">

    <div class="navbar-header navbar-left">
      <a class="navbar-brand" href="/movies">Welkom bij {{ name }}'s Bioscoopagenda!</a>
    </div>
    <div class="navbar-header navbar-right">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Amsterdam</a></li>
        <li><a href="#">Rotterdam</a></li>
        <li><a href="#">Utrecht</a></li>
        <li><a href="#">Alle steden</a></li>
        <li><a routerLink="/admin">admin</a></li>
      </ul>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>

