<search></search>

<!--
  https://blog.angular-university.io/angular-material-data-table/
  https://stackblitz.com/angular/pedprylpomd?file=app%2Fpaginator-configurable-example.html
-->
<mat-paginator [length]="size" pageSize="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<mat-progress-bar mode="indeterminate" *ngIf="dataSource.loading"></mat-progress-bar>


<table mat-table class="table table-striped" [dataSource]="dataSource">

  <ng-container matColumnDef="save">
    <div mat-cell *matCellDef="let movie">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>{{movie.title}}</mat-panel-title>
            <mat-panel-description>{{movie.movieDetails.actors}}</mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <span class="col-sm-1">
              <mat-checkbox [checked] [(ngModel)]="movie.favorite"></mat-checkbox>
            </span>
            <span class="col-sm-2" [ngSwitch]="movie.movieDetails.poster">
              <span *ngSwitchCase="null"></span>
              <span *ngSwitchDefault><img [src]="movie.movieDetails.poster" class="poster"></span>
            </span>
            <span class="col-sm-8">{{movie.movieDetails.plot}}</span>
            <span class="col-sm-1" [ngSwitch]="movie.favorite">
                <span *ngSwitchCase="true"><span class="badge"><span
                  class="glyphicon glyphicon-ok"></span></span></span>
              <span *ngSwitchDefault></span>
            </span>
            <span class="col-sm-12">
              {{movie.movieDetails.screenings}}
            </span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ng-container>

  <!--<ng-container matColumnDef="save">
    <th mat-header-cell *matHeaderCellDef>Bewaar</th>
    <td mat-cell *matCellDef="let movie">
      <mat-checkbox [checked] [(ngModel)]="movie.favorite">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="poster">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let movie">
       <span [ngSwitch]="movie.movieDetails.poster">
            <span *ngSwitchCase="null"></span>
            <span *ngSwitchDefault><img [src]="movie.movieDetails.poster" class="poster"></span>
          </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Titel</th>
    <td mat-cell *matCellDef="let movie">{{movie.title}}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Omschrijving</th>
    <td mat-cell *matCellDef="let movie">{{movie.movieDetails.plot}}</td>
  </ng-container>

  <ng-container matColumnDef="favorite">
    <th mat-header-cell *matHeaderCellDef>Favoriet</th>
    <td mat-cell *matCellDef="let movie">
       <span [ngSwitch]="movie.favorite">
            <span *ngSwitchCase="true"><span class="badge"><span class="glyphicon glyphicon-ok"></span></span></span>
            <span *ngSwitchDefault></span>
          </span>
    </td>
  </ng-container>-->

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->

  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></tr>

</table>


<!--https://css-tricks.com/responsive-data-tables/-->
<!--<div class="container-fluid">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Bewaar</th>
      <th></th>
      <th>Titel</th>
      <th>Beschrijving</th>
      <th>Vandaag te zien</th>
      <th>Favouriet</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies">
      <td>
        <input type="checkbox" [(ngModel)]="movie.favorite"/>
      </td>
      <td>
          <span [ngSwitch]="movie.movieDetails.poster">
            <span *ngSwitchCase="null"></span>
            <span *ngSwitchDefault><img [src]="movie.movieDetails.poster" class="poster"></span>
          </span>
      </td>
      <td>
        <span> {{movie.title}} </span>
      </td>
      <td>
        <span> {{movie.movieDetails.plot}} </span>
      </td>
      <td>
        <span>nope</span>
      </td>
      <td>
          <span [ngSwitch]="movie.favorite">
            <span *ngSwitchCase="true"><span class="badge"><span class="glyphicon glyphicon-ok"></span></span></span>
            <span *ngSwitchDefault></span>
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>-->
