<search></search>


<!-- https://blog.angular-university.io/angular-material-data-table/ -->

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


<mat-progress-bar mode="indeterminate" *ngIf="dataSource.loading"></mat-progress-bar>


<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>title</mat-header-cell>
    <mat-cell *matCellDef="let movie">{{movie.title}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Omschrijving</mat-header-cell>
    <mat-cell *matCellDef="let movie">{{movie.movieDetails.plot}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

</mat-table>

<br/>
<div *ngFor="let page of pages" class="btn-group float-right">
  <button (click)="changePage(page)" class="list-group-item" [class.active]="page == selectedPage">
    {{ page }}
  </button>
</div>

<!--https://css-tricks.com/responsive-data-tables/-->
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Bewaar</th>
      <th></th>
      <th>Titel</th>
      <th>Beschrijving</th>
      <th>Vandaag te zien</th>
      <th>Favouriet</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies">
      <td>
        <input type="checkbox" [(ngModel)]="movie.favorite"/>
      </td>
      <td>
          <span [ngSwitch]="movie.movieDetails.poster">
            <span *ngSwitchCase="null"></span>
            <span *ngSwitchDefault><img [src]="movie.movieDetails.poster" class="poster"></span>
          </span>
      </td>
      <td>
        <span> {{movie.title}} </span>
      </td>
      <td>
        <span> {{movie.movieDetails.plot}} </span>
      </td>
      <td>
        <span>nope</span>
      </td>
      <td>
          <span [ngSwitch]="movie.favorite">
            <span *ngSwitchCase="true"><span class="badge"><span class="glyphicon glyphicon-ok"></span></span></span>
            <span *ngSwitchDefault></span>
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
